# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environment folders
env/
venv/
.venv/
ENV/
.env/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
coverage.xml

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Environments & Secrets
.env
*.env

# Distribution/build folders
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# MacOS-specific
.DS_Store
/raw